<div class="mt-8 border-t text-sm">
  <div *ngFor="let row of listItems" class="flex flex-col">
    <div class="border-x border-b p-2 bg-gray-100 dark:bg-slate-900">
      {{ row.key }}
    </div>
    <div *ngFor="let item of row.items" class="flex flex-col sm:flex-row border-b border-x">
      <div class="basis-2/12 p-2">{{ item.queryType }}</div>
      <div class="basis-2/12 p-2 sm:border-x">
        {{ item.reportTime | date: 'short' }}
      </div>
      <div [innerHTML]="item.text" class="basis-8/12 p-2"></div>
    </div>
  </div>
</div>
